### MongoDB, pandas, numpy Connection

In [234]:
import pandas as pd
import numpy as np
from pymongo import MongoClient

In [235]:

client = MongoClient('mongodb://192.168.0.46:27017/')
db_name = client['DB_SGMN']
collection_name = db_name['COL_FEE_RATES']

### Load Data

In [236]:
# 1. 변경후만 가져오기

rawData = collection_name.find({
    "Unnamed: 4": "변경후"
})
firstEdited = list(rawData)
len(firstEdited)
# print(len(firstEdited))
# firstEdited[:5]

216

In [237]:
# 2. 평균 이상인 증권사
# 2.0 허수 값을 제거하기 위해(전 데이터의 컬럼이 값으로 침투해 있기 때문에), 회사명 = 회사명이라는 행을 삭제 
# 2.1 수수료의 합 구하기 (HTS + Online)
# 2.2 평균 구하기
# 2.3 평균 이상인 것만 가져오기
df = pd.DataFrame(firstEdited)
# df = df[df['증권사지점개설계좌.3'] != 'NaN']
# df = df[df['증권사지점개설계좌.1'] != 'NaN']
# df = df[~df[['HTS','스마트폰']].isna()]
df = df.dropna(subset=['HTS', '스마트폰'])
# df

In [238]:
df.shape

(153, 15)

In [239]:
df['증권사 개설 계좌'] = df['HTS'] + df['스마트폰']

df

,_id,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,HTS,ARS,스마트폰,Unnamed: 9,HTS.1,ARS.1,스마트폰.1,Unnamed: 13,증권사 개설 계좌
0,67612d791001c26810d30fb0,유진투자증권,/img/sub/ico_xls.gif,2020/06/17,50만원,변경후,2500.0,900.0,1000.0,750.0,2500.0,75.0,1000.0,75.0,NaN,1650.0
1,67612d791001c26810d30fb3,SK증권,/img/sub/ico_xls.gif,2015/06/01,50만원,변경후,2500.0,1750.0,1250.0,1750.0,2500.0,75.0,1250.0,1750.0,증권통App 수수료율 변경,3500.0
2,67612d791001c26810d30fb6,유안타증권,/img/sub/ico_pdf.gif,2021/01/04,50만원,변경후,2500.0,1750.0,985.0,500.0,2500.0,70.0,985.0,500.0,NaN,2250.0
5,67612d791001c26810d30fbf,미래에셋증권,/img/sub/ico_pdf.gif,2017/01/02,50만원,변경후,2450.0,700.0,700.0,700.0,2450.0,70.0,70.0,70.0,NaN,1400.0
6,67612d791001c26810d30fc1,상상인증권,/img/sub/ico_pdf.gif,2020/04/23,50만원,변경후,2450.0,700.0,1000.0,700.0,2450.0,700.0,1000.0,700.0,NaN,1400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,67612d791001c26810d311de,엘에스증권,/img/sub/ico_pdf.gif,2012/12/03,1억원,변경후,450000.0,15000.0,100000.0,15000.0,300000.0,15000.0,100000.0,15000.0,거래금액 5천만원 미만 : 0.48%\n거래금액 5천~3억 미만 : 0.45%\n거...,30000.0
208,67612d791001c26810d311e8,IBK투자증권,/img/sub/ico_hwp.gif,2013/02/04,1억원,변경후,500000.0,100000.0,250000.0,100000.0,500000.0,100000.0,250000.0,100000.0,NaN,200000.0
209,67612d791001c26810d311eb,케이프투자증권,/img/sub/ico_doc.gif,2015/04/20,1억원,변경후,425000.0,90000.0,NaN,90000.0,425000.0,15000.0,NaN,15000.0,1. 고객등급 실버등급은 당일 종목당 매수/매도 매체별 합산 하여 50만원 미만시 ...,180000.0
211,67612d791001c26810d311f1,다올투자증권,/img/sub/ico_pdf.gif,2018/03/12,1억원,변경후,499200.0,15000.0,150000.0,15000.0,499200.0,15000.0,150000.0,15000.0,NaN,30000.0
215,67612d791001c26810d311fb,비엔케이투자증권,/img/sub/ico_pdf.gif,2020/08/24,1억원,변경후,449164.0,79164.0,NaN,150000.0,449164.0,14164.0,NaN,150000.0,NaN,229164.0

In [240]:
secondEdited = df[['Unnamed: 0','Unnamed: 2','Unnamed: 3','증권사 개설 계좌']]
secondEdited

    Unnamed: 0  Unnamed: 2 Unnamed: 3  증권사 개설 계좌
0       유진투자증권  2020/06/17       50만원     1650.0
1         SK증권  2015/06/01       50만원     3500.0
2        유안타증권  2021/01/04       50만원     2250.0
5       미래에셋증권  2017/01/02       50만원     1400.0
6        상상인증권  2020/04/23       50만원     1400.0
..         ...         ...        ...        ...
204      엘에스증권  2012/12/03        1억원    30000.0
208    IBK투자증권  2013/02/04        1억원   200000.0
209    케이프투자증권  2015/04/20        1억원   180000.0
211     다올투자증권  2018/03/12        1억원    30000.0
215   비엔케이투자증권  2020/08/24        1억원   229164.0

[153 rows x 4 columns]

In [241]:
secondEdited['증권사 개설 계좌'].mean()

40579.535947712415

In [242]:
thirdEdited = secondEdited[secondEdited['증권사 개설 계좌'] < secondEdited['증권사 개설 계좌'].mean()]
thirdEdited

    Unnamed: 0  Unnamed: 2 Unnamed: 3  증권사 개설 계좌
0       유진투자증권  2020/06/17       50만원     1650.0
1         SK증권  2015/06/01       50만원     3500.0
2        유안타증권  2021/01/04       50만원     2250.0
5       미래에셋증권  2017/01/02       50만원     1400.0
6        상상인증권  2020/04/23       50만원     1400.0
..         ...         ...        ...        ...
175     다올투자증권  2018/03/12     1000만원     3000.0
179   비엔케이투자증권  2020/08/24     1000만원    24916.0
203       키움증권  2020/12/31        1억원    30000.0
204      엘에스증권  2012/12/03        1억원    30000.0
211     다올투자증권  2018/03/12        1억원    30000.0

[131 rows x 4 columns]

In [243]:
thirdEdited.to_csv('finalResult.csv')