### MongoDB, pandas, numpy Connection

In [159]:
import pandas as pd
import numpy as np
from pymongo import MongoClient

In [160]:

client = MongoClient('mongodb://192.168.0.46:27017/')
db_name = client['DB_SGMN']
collection_name = db_name['COL_FEE_RATES']

### Load Data

In [161]:
# 1. 변경후만 가져오기

rawData = collection_name.find({
    "Unamed:4": "변경후"
})
firstEdited = list(rawData)
len(firstEdited)
# print(len(firstEdited))
# firstEdited[:5]

0

In [162]:
# 2. 평균 이상인 증권사
# 2.0 허수 값을 제거하기 위해(전 데이터의 컬럼이 값으로 침투해 있기 때문에), 회사명 = 회사명이라는 행을 삭제 
# 2.1 수수료의 합 구하기 (HTS + Online)
# 2.2 평균 구하기
# 2.3 평균 이상인 것만 가져오기

df = pd.DataFrame(firstEdited)
# df = df[df['증권사지점개설계좌.3'] != 'NaN']
# df = df[df['증권사지점개설계좌.1'] != 'NaN']
df = df[~df[['HTS'].isna()]
df = df[~df['스마트폰'].isna()]
# df

SyntaxError: '[' was never closed (1858517267.py, line 10)

In [ ]:
df.shape

(26, 21)

In [ ]:
df['증권사 개설 계좌'] = df['HTS'] + df['스마트폰']

df

In [ ]:
secondEdited = df[['회사명','기준일자','거래금액','증권사 개설 계좌']]
secondEdited

In [ ]:
thirdEdited = secondEdited['증권사 개설 계좌'].mean()
thirdEdited