## 집계 함수

In [8]:
import pandas as pd

In [9]:
data = { '종목코드': ['037730', '036360', '005670']
        , '종목명': ['3R', '3SOFT', 'ACTS']
        , '현재가': [1510, 1790, 1185]
        , '등락률': [7.36, 1.65, 1.28] 
}
df_components = pd.DataFrame(data)
df_components

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

In [10]:
df_components.columns

Index(['종목코드', '종목명', '현재가', '등락률'], dtype='object')

### 대표값 : sum(), min(), max(), mean(), median()

In [11]:
df_components[['현재가']].sum()

현재가    4485
dtype: int64

In [12]:
df_components.iloc[:,-1:-2].sum()

Series([], dtype: float64)

In [13]:
# df_components[['현재가']].sum(),df_components[['현재가']].min(),df_components[['등락율']].sum()

## group by

In [14]:
data = [
    ["2차전지(생산)", "SK이노베이션", 10.19, 1.29],
    ["해운", "팬오션", 21.23, 0.95],
    ["시스템반도체", "티엘아이", 35.97, 1.12],
    ["해운", "HMM", 21.52, 3.20],
    ["시스템반도체", "아이에이", 37.32, 3.55],
    ["2차전지(생산)", "LG화학", 83.06, 3.75]
]

columns = ["테마", "종목명", "PER", "PBR"]
df_first = pd.DataFrame(data=data, columns=columns)
df_first

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
1        해운      팬오션  21.23  0.95
2    시스템반도체     티엘아이  35.97  1.12
3        해운      HMM  21.52  3.20
4    시스템반도체     아이에이  37.32  3.55
5  2차전지(생산)     LG화학  83.06  3.75

### like conditions

In [15]:
df_first[df_first['테마'] == '2차전지(생산)']

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75

In [16]:
df_conditions_first = df_first[df_first['테마'] == '2차전지(생산)']
df_conditions_first

         테마      종목명    PER   PBR
0  2차전지(생산)  SK이노베이션  10.19  1.29
5  2차전지(생산)     LG화학  83.06  3.75

In [17]:
df_conditions_first['PER'].mean()

46.625

### group by

In [20]:
# df_first.groupby('테마').get_group('2차전지(생산)')
df_first.groupby('테마').get_group('해운')

   테마  종목명    PER   PBR
1  해운  팬오션  21.23  0.95
3  해운  HMM  21.52  3.20

In [25]:
# df_first.groupby('테마')['PER'].mean()
# df_first.groupby('테마')['PER','PBR']
df_first.groupby('테마')[['PER','PBR']].mean() # 2개 이상의 컬럼이면 df이기에 [[]]

             PER    PBR
테마
2차전지(생산)  46.625  2.520
시스템반도체    36.645  2.335
해운        21.375  2.075

#### group by with agg()

In [27]:
df_first.groupby('테마').agg({'PER':max, 'PBR':min})

/tmp/ipykernel_63684/33861121.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_first.groupby('테마').agg({'PER':max, 'PBR':min})
/tmp/ipykernel_63684/33861121.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df_first.groupby('테마').agg({'PER':max, 'PBR':min})

            PER   PBR
테마
2차전지(생산)  83.06  1.29
시스템반도체    37.32  1.12
해운        21.52  0.95

In [29]:
df_first.groupby('테마').agg({'PER':[max, min], 'PBR':min})

/tmp/ipykernel_63684/3947600591.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_first.groupby('테마').agg({'PER':[max, min], 'PBR':min})
/tmp/ipykernel_63684/3947600591.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df_first.groupby('테마').agg({'PER':[max, min], 'PBR':min})

            PER          PBR
            max    min   min
테마
2차전지(생산)  83.06  10.19  1.29
시스템반도체    37.32  35.97  1.12
해운        21.52  21.23  0.95