### row / column 추가

In [3]:
import pandas as pd

In [4]:
data = [
    ["3R", 1510, 7.36],
    ["3SOFT", 1790, 1.65],
    ["ACTS", 1185, 1.28]
]

index = ["037730", "036360", "005760"]
columns = ["종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, index=index, columns=columns)
df

          종목명   현재가   등락률
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

### add row

In [ ]:
# df.loc['005760'] , update
df.loc['005760', :]

종목명    ACTS
현재가    1185
등락률    1.28
Name: 005760, dtype: object

In [8]:
df.loc['066570'] = ['LG전자', 100000, 1.23]
df

          종목명     현재가   등락률
037730     3R    1510  7.36
036360  3SOFT    1790  1.65
005760   ACTS    1185  1.28
066570   LG전자  100000  1.23

### add column

In [10]:
# 괴리율이라는 column 추가 insert

df['괴리율'] = [1.23, 1.23, 1.23, 1.23]
df

          종목명     현재가   등락률   괴리율
037730     3R    1510  7.36  1.23
036360  3SOFT    1790  1.65  1.23
005760   ACTS    1185  1.28  1.23
066570   LG전자  100000  1.23  1.23

In [13]:
# 목표가라는 column 추가 insert 없기에

# df['목표가'] = [1600, 1600, 1600, 1600]
df['목표가'] = [1600] * len(df)
df

          종목명     현재가   등락률   괴리율   목표가
037730     3R    1510  7.36  1.23  1600
036360  3SOFT    1790  1.65  1.23  1600
005760   ACTS    1185  1.28  1.23  1600
066570   LG전자  100000  1.23  1.23  1600

In [14]:
# update (목표가 - 현재가 / 현재가)
df['괴리율'] = (df['목표가'] - df['현재가']) / df['현재가']
df

          종목명     현재가   등락률       괴리율   목표가
037730     3R    1510  7.36  0.059603  1600
036360  3SOFT    1790  1.65 -0.106145  1600
005760   ACTS    1185  1.28  0.350211  1600
066570   LG전자  100000  1.23 -0.984000  1600