## Useful

### Null 처리
 - Nan, Na

In [61]:
import pandas as pd
import numpy as np

In [62]:
# 예제 주식 데이터 생성 
data = { "Date": ["2024-12-11", "2024-12-12", "2024-12-12", "2024-12-13", "2024-12-14", "2024-12-15"], 
        "Open": [150.5, 152.0, 152.0, 155.0, np.nan, 160.0], "High": [155.0, 153.5, 153.5, 158.0, 161.0, np.nan], 
        "Low": [149.0, 151.0, 151.0, 154.5, np.nan, 159.0], "Close": [154.0, 152.5, 152.5, 157.5, 160.5, 152.2], 
        "Volume": [2000, 2500, 2500, 1800, np.nan, 1700] } 

# DataFrame 생성 
df_first = pd.DataFrame(data)
df_first

         Date   Open   High    Low  Close  Volume
0  2024-12-11  150.5  155.0  149.0  154.0  2000.0
1  2024-12-12  152.0  153.5  151.0  152.5  2500.0
2  2024-12-12  152.0  153.5  151.0  152.5  2500.0
3  2024-12-13  155.0  158.0  154.5  157.5  1800.0
4  2024-12-14    NaN  161.0    NaN  160.5     NaN
5  2024-12-15  160.0    NaN  159.0  152.2  1700.0

In [63]:
df_first.shape

(6, 6)

### 중복 레코드 처리(duplicate)

In [64]:
# df_first.drop_duplicates()
# df_first.drop_duplicates(subset=['High','Low'])
# df_first.drop_duplicates(subset=['Close'])

### 채우기

In [65]:
#1. 앞쪽 데이터로 대체 forward 
# df_first.fillna(method='ffill')
# 2. 뒤쪽 데이터로 대체 backward 맨 뒤는 여전히 Nan
# df_first.fillna(method='bfill')

### Null 여부 확인

In [66]:
# 1. info 사용

In [67]:
# 2. isna + sum 사용
df_first.isna().sum()

Date      0
Open      1
High      1
Low       1
Close     0
Volume    1
dtype: int64

### 삭제시키기

In [68]:
# 1. drop
#df_first.dropna()  
# 2. 부분 dropna
df_first[['High','Close']].dropna()

    High  Close
0  155.0  154.0
1  153.5  152.5
2  153.5  152.5
3  158.0  157.5
4  161.0  160.5