### PER + PBR 합성 전략
- PBR < 1: 자산 대비 저평가
- PER < 10: 수익 대비 저평가

### 맞는 데이터 가져오고 merge 하기

In [51]:
from pykrx import stock
import pandas as pd
import numpy as np

In [ ]:
year = '2023'
dfFirst = stock.get_market_cap_by_ticker(f'{year}0102')
dfFirst = dfFirst[['종가','시가총액']].rename(columns={'종가':'시가'})
dfFirst

In [ ]:
dfFirst.describe()

In [ ]:
dfFirst = dfFirst.sort_values('시가총액') # 범위 나누기 정렬
dfFirst

In [ ]:
dfFirst = pd.cut(dfFirst.reset_index(),bins=3,labels=['소형주','중형주','대형주'])

### read PER + PBR from pykrx

In [ ]:
dfSecond = stock.get_market_fundamental_by_ticker(f'{year}0102')
# dfSecond = dfSecond[['PER','PBR']].rename(columns={'PER':'PER','PBR':'PBR'})
dfSecond.head()

### 해당 년도 마지막 거래 종가

In [ ]:
dfSecond = stock.get_market_ohlcv_by_ticker(f'{year}1228')
dfSecond

### Merge

In [ ]:
pd.concat([dfFirst,dfSecond],axis=1)
dfConcat = pd.concat([dfFirst,dfSecond],axis=1)
dfConcat

In [61]:
dfConcatDropna = dfConcat.dropna()
dfConcatDropna

,시가,시가총액,시가,고가,저가,종가,거래량,거래대금,등락률
티커,,,,,,,,,
002787,12800.0,3.773542e+09,12700.0,12750.0,12480.0,12480.0,242.0,3.043000e+06,0.00
001527,12900.0,3.980540e+09,11400.0,12490.0,11370.0,12490.0,8502.0,9.718950e+07,8.99
001525,6530.0,4.033783e+09,6130.0,6130.0,6010.0,6010.0,630.0,3.786770e+06,0.17
002785,4850.0,4.157507e+09,4630.0,4670.0,4605.0,4670.0,116.0,5.411100e+05,0.00
000545,6140.0,4.715520e+09,5570.0,5800.0,5570.0,5650.0,9218.0,5.272993e+07,4.44
...,...,...,...,...,...,...,...,...,...
051910,604000.0,4.263778e+13,488000.0,499000.0,483500.0,499000.0,199695.0,9.831718e+10,2.67
000660,75700.0,5.510978e+13,140900.0,141600.0,139500.0,141500.0,2459473.0,3.463168e+11,0.78
207940,827000.0,5.886090e+13,729000.0,760000.0,727000.0,760000.0,132038.0,9.908199e+10,4.25
373220,446000.0,1.043640e+14,421500.0,427500.0,421000.0,427500.0,190673.0,8.092794e+10,1.54
005930,55500.0,3.313229e+14,77700.0,78500.0,77500.0,78500.0,17797536.0,1.388291e+12,0.64

In [ ]:
# dfConcatDropna['수익률']= dfConcatDropna['종가'] / dfConcatDropna['시가']
# dfConcatDropna

conditions = (dfConcatDropna['PER'] < 1) & (dfConcatDropna['PBR'] < 1) # 저 PBR, 저 PER
dfConcatDropna[conditions]